__pycache__/
env/
**/dbs/dump/

build/installer/
build/out/
build/compile.iss
build/create_installer.sh
build/ets2-telemetry.dll

/.vscode

**/dbs/cities/usr_ets2/*
!**/dbs/cities/usr_ets2/.gitkeep
**/dbs/cities/usr_ats/*
!**/dbs/cities/usr_ats/.gitkeep